body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 20px;
}

.schedule {
    max-width: 1060px;
    margin: auto;
}

.session {
    display: flex;
    align-items: center;
    background-color: #694685;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.session_speakers {
    display: flex;
    align-items: center;
    background-color: #e2dcf3;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 15px 0 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: left;
}

.time {
    background-color: #694685;
    padding: 10px 15px;
    font-weight: bold;
    color: #f7f1f1;
    margin-right: 20px;
    white-space: nowrap;
}

.break-session .time {
    background-color: #694685;
}

.break-session .break {
    padding: 18px 15px;
    background-color: #694685;
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    color: #f7f1f1;
}

.speaker-photo img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-right: 10px;
}

.talk {
    flex-grow: 1;
    padding: 10px 15px;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    color: #694685;
    text-align: left;

}

.speaker {
    font-style: italic;
    color: #666666;
}

.details {
    font-size: 0.8em;
    color: #999999;
}


/* mobile */
@media (max-width: 768px) {

    .schedule,
    .session,
    .session_speakers {
        flex-direction: column;
        align-items: center;
    }

    .time,
    .break-session .break {
        width: 100%;
        text-align: center;
    }

    .speaker-photo img {
        margin: 20px auto 10px;
    }

    .popup {
        width: 500px;
        max-height: 80vh;
    }

    .painel {
        position: relative;
        order: -1;
        margin-top: 20px;
    }

    .time-painel {
        position: relative;
        order: -2;
        width: 100%;
        text-align: center;
    }



    .popup-content {
        padding: 20px;
        text-align: left;
        /* Alinha todo o texto à esquerda */
    }

    .popup-content button {
        display: block;
        /* Torna o botão um bloco para alinhar à esquerda */
        margin-top: 20px;
        /* Espaçamento superior para o botão */
    }

    .popup-close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
    }


    .session_speakers {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100%;
    }

    .speaker-photo,
    .talk {
        flex: 1;
        min-width: 150px;
        text-align: left;
    }

    .speaker-photo img {
        width: 100px;
        height: 100px;
        margin: 10px 30px 30px;
    }

    .talk {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


.session_speakers.multiple-images .speaker-photo {
    flex: 0 1 auto;
}


@media (max-width: 768px) {
    .popup {
        width: 90%;
        max-width: 90%;
        height: auto;
        max-height: 80vh;
        overflow-y: auto;
    }
}



/* POPUP */
.popup-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}


.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    width: 750px;
    min-height: 150px;
    background-color: #fefefe;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;
}


.popup-content {
    position: relative;
    text-align: center;
}


.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}



.popup-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.popup-speaker-photo {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.popup-speaker-info {
    flex-grow: 1;
    text-align: left;
}

.donation-button {
    display: block;
    margin-top: 20px;
    margin-left: 0;
}

#speakerName {
    margin: 0;
    font-size: 1.5em;
    color: #694685;
    text-align: left;
}

#speakerTitle {
    margin: 0;
    font-size: 0.8em;
    color: #666;
    text-align: left;
}

#speakerInfo {
    color: #666;
    text-align: justify;
}

.pink-line {
    border: 1px solid #694685;
    margin: 10px 0;
}

/* Estilos gerais para a navbar */
.navbar {
    background-color: #333;
    overflow: hidden;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-menu>li {
    float: left;
}

.nav-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Mudar a cor dos links ao passar o mouse */
.nav-menu li a:hover {
    background-color: #ddd;
    color: black;
}

/* Estilos para o submenu */
.submenu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.submenu li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.submenu li a:hover {
    background-color: #f1f1f1;
}

/* Mostrar o submenu quando o mouse está sobre um item do menu */
.nav-menu li:hover .submenu {
    display: block;
}